<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wx.video.mapper.VideoMapper" >

    <select id="queryAllVideos" resultType="com.wx.video.model.vo.VideoVO">
        select v.id            as id,
               v.video_id      as videoId,
               v.video_title   as videoTitle,
               v.video_desc    as videoDesc,
               v.video_path    as videoPath,
               v.thumb_url     as thumbUrl,
               v.duration      as duration,
               v.sales_counts  as salesCounts,
               v.category_id   as categoryId,
               c.category_name as categoryName,
               v.price         as price,
               v.status        as status,
               v.is_delete     as isDelete,
               v.create_time   as createTime,
               v.update_time   as updateTime
        from videos v,
             category c
        where v.category_id = c.category_id
        and v.is_delete = #{isDelete}
        LIMIT #{offset}, #{limit}
    </select>

    <!-- 查询总记录数 -->
    <select id="countAllVideos" resultType="int">
        SELECT COUNT(*)
        FROM videos
        WHERE is_delete = #{isDelete}
    </select>

</mapper>